<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
    <php>
    </php>
    <testsuites>
        <testsuite name="Esprintf Test Suite">
            <directory>../test/</directory>
            <exclude>BaseTestCase.php</exclude> <!-- This doens't seem to work-->
        </testsuite>
    </testsuites>

    <logging>
        <text outputFile="php://stdout"/>
    </logging>
</phpunit>