<?xml version="1.0" encoding="UTF-8"?>


<phpunit>
    <php>
    </php>

    <testsuites>
        <testsuite name="Esprintf Test Suite">
            <directory>../test/</directory>
            <exclude>BaseTestCase.php</exclude> <!-- This doens't seem to work-->
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">../lib</directory>
        </include>

        <report>
            <html outputDirectory="../tmp/coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>